h1 {
    color: blue;
}
h3 {
    color: darkred;
}
em {
    color: red;
}
.sky {
    background-color: skyblue;
}
.fog {
    background-color: lightgray;
}
p {
    color: red;
}
.fire {
    background-color:indianred ;
}
.simple {
    background-color: gray;
}
.free {
    color: greenyellow;
}
.bite {
    color: red;
}
.ok {
    color: brown;
}
.last {
    color: brown;
}
