body {
    font-family: sans-serif;
}
img {
    width: 1000px;
    height: 600px;
    margin-left: 250px;
}
h1 {
    text-align: center;
}
strong {
    font-size: 20px;
}
.special {
    color: orangered;
    font-size: 18px;
}
a {
    color: greenyellow;
}
h3 {
    color: red;
}